{% extends "flight/layout.html" %}

{% block body %}
    <h1>Flight '{{ flight.id }}'</h1>
        <ul>
            <li>Origin: {{ flight.origin }}</li>
            <li>Destination: {{ flight.destination }}</li>
            <li>Duration: {{ flight.duration }} minutes</li>
        </ul>
    
    <h2>Passengers</h2>
        <ul>
            {% for p in passengers %} 
                <li>{{ p }}</li>   
            {% empty %}
                <li>No passengers</li>
            {% endfor %}
        </ul>

    <h2>Booking</h2>
        <form action="{% url 'flight:book' flight.id %}" method="post">
            {% csrf_token %}
            <select name="passenger">
                {% for p_option in non_passengers %}
                    <option value="{{ p_option.id }}">{{ p_option }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Book Flight">
        </form>

    <br>
    <a href="{% url 'flight:index' %}">Get to the list of Flights</a>
{% endblock %}